<!DOCTYPE html>
<html>
  <head>
    <title>Solve</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="nav">
        <div class="nav-left">
          <%= "Solve" %>
        </div>
        <% if user_signed_in? %>
          <div class="nav-right">
            <%= link_to current_user.username, class: "username" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
          </div>
        <% else %>
          <div class="nav-right">
            <%= link_to "ログイン", user_session_path, class: "login" %>
            <%= link_to "新規登録", new_user_registration_path, class: "sign-up" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
